server {
     listen 80;
     server_name {{ item.domain }} www.{{ item.domain }};
#     return 301 https://$host$request_uri;
#}
#server {
#    listen 443 ssl default deferred;
#    server_name {{ item.domain }};
    root {{ item.path }};
    index index.php index.html info.php;
    error_log  {{ nginx_log_dir }}/{{ item.domain }}.error.log error;
    access_log {{ nginx_log_dir }}/{{ item.domain }}.access.log  custom;
#    ssl on;
#    ssl_certificate         /etc/letsencrypt/live/{{ item.domain }}/fullchain.pem;
#    ssl_certificate_key     /etc/letsencrypt/live/{{ item.domain }}/privkey.pem;
#    ssl_trusted_certificate /etc/letsencrypt/live/{{ item.domain }}/fullchain.pem;

#    ssl_session_cache shared:SSL:50m;
#    ssl_session_timeout 5m;
#    ssl_stapling on;
#    ssl_stapling_verify on;

#    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
#    ssl_ciphers "ECDHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES128-SHA256:ECDHE-RSA-AES256-SHA:ECDHE-RSA-AES128-SHA:DHE-RSA-AES256-SHA256:DHE-RSA-AES128-SHA256:DHE-RSA-AES256-SHA:DHE-RSA-AES128-SHA:ECDHE-RSA-DES-CBC3-SHA:EDH-RSA-DES-CBC3-SHA:AES256-GCM-SHA384:AES128-GCM-SHA256:AES256-SHA256:AES128-SHA256:AES256-SHA:AES128-SHA:DES-CBC3-SHA:HIGH:!aNULL:!eNULL:!EXPORT:!DES:!MD5:!PSK:!RC4";

#    ssl_dhparam /etc/nginx/dhparams.pem;
#    ssl_prefer_server_ciphers on;

    real_ip_header X-Forwarded-For;
    port_in_redirect off;

    location /{
        try_files $uri $uri/ /index.php?$args;
    }

    location ~ \.php {
        fastcgi_pass unix:/var/run/php_fpm.sock;
        fastcgi_index   index.php;
        fastcgi_param HTTP_PROXY "";
        include         fastcgi_params;
        fastcgi_param   SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_split_path_info ^(.+\.php)(.*)$;
        fastcgi_param PATH_INFO $fastcgi_path_info;
        fastcgi_param PATH_TRANSLATED $document_root$fastcgi_path_info;
        fastcgi_connect_timeout 300;
        fastcgi_send_timeout 300;
        fastcgi_read_timeout 300;
        fastcgi_buffer_size 128k;
        fastcgi_buffers 4 256k;
        fastcgi_busy_buffers_size 256k;
        fastcgi_temp_file_write_size 256k;
        fastcgi_intercept_errors on;
    }
}
